* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #f9f9f9;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
#root {
  background-color: #f9f9f9;
}

.App {
  width: 100vw;
  height: 100vh;
}

.content_page {
  padding-left: 210px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 0px 10px;
}
.left_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  height: 20px;
  width: 20px;
}
.date {
  margin: 0 20px;
}
.space_btw {
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: #8885b8;
  font-weight: 600;
  font-size: 14px;
}
.exit {
  color: #7b7b7c;
  text-decoration: none;
  margin: 0 20px 0 10px;
}

.exit .icon:hover {
  color: #393e46;
}
.exit .icon {
  color: #7b7b7c;
  height: 25px;
  width: 25px;
}

h3 {
  color: #4d4a7b;
  margin-right: 30px;
}
