* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}
body {
  background-color: #f9f9f9;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
#root {
  background-color: #f9f9f9;
}

.App {
  width: 100vw;
  height: 100vh;
}

.content_page {
  padding-left: 210px;
}

.pie_place {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}
.pie_place h4 {
  margin-top: 100px;
  color: #4d4a7b;
}
.pie_place span {
  margin-top: 103px;
  font-size: 14px;
  color: #8885b8;
  margin-left: 10px;
}

.content_pages {
  background: white;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border-top: 8px solid #8885b8;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 630px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px 0px 10px;
}
.left_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right_content {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.icon {
  height: 20px;
  width: 20px;
}
.date {
  margin: 0 20px;
}
.space_btw {
  display: flex;
  flex-direction: row;
  width: fit-content;
  color: #8885b8;
  font-weight: 600;
  font-size: 14px;
}
.exit {
  color: #7b7b7c;
  text-decoration: none;
  outline: none; /* Для синий ободки */
  border: 0;
  background: transparent;
  margin: 0 20px 0 10px;
}

.exit .icon:hover {
  cursor: pointer;
  color: #393e46;
}
.exit .icon {
  color: #7b7b7c;
  height: 25px;
  width: 25px;
}

h3 {
  color: #4d4a7b;
  margin-right: 30px;
}
