.auth-form {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/background.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
}
