.select_sort {
  appearance: none;
  color: #4d4a7b;
  font-family: "Jost", sans-serif;
  font-size: 14px;
  border-color: #ededfe;
  border: 1px solid #ededfe;
  border-radius: 10px;
  outline: none;
  padding: 0;
  padding-left: 10px;
  height: 20px;
  width: 120px;
  background: url(../images/arrow.svg) no-repeat 95% 50%;
  background-color: #f6f6f8;
  margin: 0 50px 10px 10px;
}
.input_sort span {
  font-size: 14px;
  color: #8885b8;
}
