.my_input-search {
  border: 1px solid #ededfe;
  border-radius: 10px 0 0 10px;
  height: 30px;
  padding: 5px;
}

.my_input-search:focus {
  outline: none;
  border: 1px solid #8884c2;
}

.btn_search {
  top: 0;
  right: 0px;
  width: 30px;
  vertical-align: bottom;
  display: inline-flex;
  height: 30px;
  border: none;
  background: #ededfe;
  border-radius: 0 5px 5px 0;
  padding: 0;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.btn_search:before {
  font-size: 16px;
  color: #f9f0da;
}

.my_input-search::-webkit-input-placeholder {
  color: #dbdbff;
}
