.full-width {
  margin-top: 20px;
  width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  color: #4d4a7b;
}

.full-width td {
  background: transparent;
}
