.settings {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid #f0f0f0;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settings .icon {
  color: #393e46;
}
