.my-table {
  border-radius: 10px;
  border-spacing: 0;
  text-align: center;
  color: #4d4a7b;
}
th {
  background: #e3e2f8;
  font-weight: 400;
  padding: 20px 20px;
}
.my-table p {
  font-weight: 600;
}
th,
td {
  border-style: solid;
  border-width: 0 3px 3px 0;
  border-color: white;
}

.my-table td:first-child {
  text-align: left;
  /* font-weight: 600; */
}
thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}
thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

th:last-child {
  border-right: none;
}
.my-table td {
  height: 50px;
  padding: 0 20px;
  text-align: center; /* Выравнивание по центру по горизонтали */
  vertical-align: middle;
}
.my-table tr:nth-child(odd) {
  background: #f6f6f8;
}
.my-table tr:nth-child(even) {
  background: #f3f2ff;
}
.my-table tr > td:not(:first-child) {
  padding: 0;
  /* Ваши стили для всех столбцов, кроме первого */
}
.my-table tr:last-child td:first-child {
  border-radius: 0 0 0 10px;
}
.my-table tr:last-child td:last-child {
  border-radius: 0 0 10px 0;
}
.my-table tr td:last-child {
  border-right: none;
}
.note {
  text-decoration: none;
  color: #8ab0bd;
}

.note:hover {
  color: #4a637b;
}

.number__notice {
  font-size: 10px;
  margin: 0;
}

.msg__circle {
  font-size: 5px;
  margin: 0 0 10px;
}
